<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"></head>
<nav th:replace="layouts :: navbar"></nav>

<body>
<div class="container">
    <h3>Main Dashboard</h3>
    <a th:text="${versionNumber}"></a>
    <hr>

    <h4>Current Projects</h4>
    <div class="row">
        <div class="col-md-6">
            <hr>
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>Project Name</th>
                    <th>Project Stage</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="aProject : ${projectsList}">
                    <td th:text="${aProject.name}"></td>
                    <td th:text="${aProject.stage}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-4">
            <canvas id="myPieChart" height="50" width="50"></canvas>
            <script>
                var chartData = "[[${projectStatusCnt}]]"
            </script>
        </div>
    </div>

</div>

<div class="container">
    <h4>Current Employees</h4>
    <div class="row">
        <div class="col-md-6">
            <hr>
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>Employee First Name</th>
                    <th>Employee Last Name</th>
                    <th>Project Count</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="anEmployeeProjectCnt : ${employeesListProjectCnt}">
                    <td th:text="${anEmployeeProjectCnt.firstName}"></td>
                    <td th:text="${anEmployeeProjectCnt.lastName}"></td>
                    <td th:text="${anEmployeeProjectCnt.projectCount}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/myChart.js}"></script>
</body>
</html>