<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"></head>
<body>
<nav th:replace="layouts :: navbar"></nav>
<div class="container">
    <h3>Employees Directory</h3>
    <hr>

    <a th:href="@{/employees/new}"
       class="btn btn-primary btn-sm mb-3">
        New Employee
    </a><br/>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Employee First Name</th>
            <th>Employee Last Name</th>
            <th>Employee Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="anEmployee : ${employees}">
            <td th:text="${anEmployee.firstName}"></td>
            <td th:text="${anEmployee.lastName}"></td>
            <td th:text="${anEmployee.email}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>